<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/scan.css')}}">
    {{ dropzone.load_css() }}

    <title>Scan - Antivirus</title>
  </head>
  <body>
    <script  src="{{url_for('static',filename='scripts/input_path_control.js')}}"></script>

    {{ dropzone.load_js() }}
    <nav>
      <div class="navbar-content">
        <ul class = "navbar-ul">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('scan') }}">Scan</a></li>
          <li><a href="{{ url_for('add_virus') }}">Add</a></li>
          <li><a href="{{ url_for('history') }}">History</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>

        </ul>
      </div>

    </nav>
    <main>
      <h1 class="main-text">CHOOSE SCANNING TARGET</h1>
      <form class="scan-select" id="inp-form"  method="post">
        <div id="radios">

          <div class="select-option">
            <input type="radio" id="control_01" name="scan-type" value="full">
            <label for="control_01" id = "label_1">
              <p>Full</p>
            </label>
          </div>
          <div class="select-option">
            <input type="radio" id="control_02" name="scan-type" value="file">
            <label for="control_02" id="label_2">
              <p>File</p>
            </label>
          </div>
          <!-- <div class="select-option">
            <input type="radio" id="control_03" name="scan-type" value="directory">
            <label for="control_03">
              <p>Directory</p>
            </label>
          </div> -->
        </div>
        <div class="chb">
          <input id="ch"type="checkbox" name="added-before" value="">
          <p>I have uploaded this file before</p>
        </div>


        <!-- <input id="path-input" type="text" name="path" value="" placeholder="Path"> -->
        <!-- <input type = "file" name = "file" /> -->

      </form>
      {{ dropzone.create(action='file_upload') }}
      {{ dropzone.config() }}
      {{ dropzone.style('margin-top: 50px; border: 2px dashed #0085FF;min-width: 800px; background-color:#37393F; color: white;   display: flex; align-items: center; justify-content: center; min-height: 200px;') }}
      <input form="inp-form" type="submit" id="submit-button" value="Scan">

      {% with messages = get_flashed_messages() %}
         {% if messages %}
         <script>
           var messages = {{ messages | safe }};
           for (var i=0; i<messages.length; i++) {
             alert(messages[i]);
           }
         </script>
         {% endif %}
      {% endwith %}
    </main>
  </body>
</html>
