table{
  color: white;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  margin: auto;
  width: 500px;
  border: 1px solid white;

}
tr {
  width: 500px;
}
th {
  border: 1px solid white;

}
td {
  border: 1px solid white;

}
main{

}
